<div class="home-search__form">
    <form action="/search{{ location }}" method="get" id="universal-search">
        <input type="text" name="search" id="search" size="32" class="searchbox home-search__form-input" value="{{ searchterm }}" placeholder="{{ placeholder }}" />
        <button type="submit" class="home-search__form-submit" id="home-search__form-submit">Search</button>
        <button type="button" id="home-search-button__advanced" class="home-search__advanced-search">Advanced</button>

    <div class="gsc-result-info__new"></div>

    <fieldset>
            <label for="all">
            <input type="radio" name="searchSelect" id="all" {{ allchecked }} value="" />
            <span>All Results</span>
            </label>

            <label for="news">
            <input type="radio" name="searchSelect" id="news" {{ newschecked }} value="/news" />
            <span>News</span>
            </label>

            <label for="people"><input type="radio" name="searchSelect" id="people" {{ peoplechecked }} value="/people" />
            <span>People Directory</span>
            </label>

        {#
            <label for="websites">
            <input type="radio" name="searchSelect" id="websites" {{ websiteschecked }} value="/websites" />
            <span>Websites</span>
            </label>
        #}

        <button type="submit" class="home-search__form-submit-advanced">Filter Search Results</button>

    </fieldset>
    </form>
</div>
