<div class="home-search__form">
    <form action="/search{{ location }}" method="get" id="universal-search">
        <input type="text" name="search" id="search" size="32" class="searchbox home-search__form-input" value="{{ searchterm }}" placeholder="{{ placeholder }}" />
        <button type="submit" class="home-search__form-submit" id="home-search__form-submit">Search</button>
        <button type="button" id="home-search-button__advanced" class="home-search__advanced-search">Advanced</button>

    <div class="gsc-result-info__new"></div>

    <fieldset>
            <input type="radio" name="searchSelect" id="all" {{ allchecked }} value="" />
            <label for="all" onclick="">All Results</label>

            <input type="radio" name="searchSelect" id="news" {{ newschecked }} value="/news" />
            <label for="news" onclick="">News</label>

            <input type="radio" name="searchSelect" id="people" {{ peoplechecked }} value="/people" />
            <label for="people" onclick="">People Directory</label>

        {#
            <input type="radio" name="searchSelect" id="websites" {{ websiteschecked }} value="/websites" />
            <label for="websites" onclick="">Websites</label>
        #}

        <button type="submit" class="home-search__form-submit-advanced">Filter Search Results</button>

    </fieldset>
    </form>
</div>
