{# @todo Module coming #}
<div class="{{ classes }}">
  {{ content.field_search_title }}
  <form class="home-search__form" action="/search" method="get">
    <input type="text" name="search" id="search" class="home-search__form-input" data-placeholder placeholder="{{ node.field_search_placeholder_text.value }}" onclick="this.value='';" tabindex="2">
    <input type="submit" id="edit-submit-home" name="op" value="Search" class="home-search__form-submit">
  </form>
  {% if content.field_search_news_supporting %}
    {{ content.field_search_news_supporting }}
  {% elseif content.field_search_supporting_links %}
    {{ content.field_search_supporting_links }}
  {% endif %}
</div>
