{#
/**
 * @file
 * This implements the universal search main page
 * @Zeplin universal_search_desktop_result
 *
 * Uses unordered list markup in both compact and extended modes.
 *
 * Available variables:
 *  - searchterm - search term used on the site
 *  - websites  - list of results from websites.ucsf.edu that match search term
 *      - website.title
 *      - website.field_website_url
 *      - website.field_display_name
 *      - website.field_meta_title
 *      - website.body
 *  - more - true/false value of if there are more results then displayable
 *  so you can place a more button on the page to goto the websites.ucsf.edu/azlist
 *
 *  @see UcsfsearchController::websiteLookup()
 */
#}
<div class="form-search-block-div">
    <div class="search-box-container">
        <form action="/search/websites" method="get">
            <input type="text" name="search" id="search" size="32" alt="Search text" class="searchbox" value="{{ searchterm }}" />
            <button type="submit">Search</button>
        </form>

        <ul id="universalSearchTabs">
            <li><a href="/search?search={{ searchterm }}">All Results</a></li>
            <li><a href="/search/news?search={{ searchterm }}">News</a></li>
            <li><a href="/search/people?search={{ searchterm }}">People Directory</a></li>
            <li class="active"><a href="/search/websites?search={{ searchterm }}">Websites</a></li>
        </ul>
    </div>
    {% spaceless %}
    <div id="websiteSearchResults">
        <h3>Websites</h3>
        {% for website in websites %}
            <li>
                {{ website.title }} |
                <a href="{{ website.field_website_url }}" target="_blank">{{ website.field_website_url }}</a>
                {% if website.field_display_name %}, {{ website.field_display_name }}{% endif %}
                {% if website.field_meta_title %}, {{ website.field_meta_title }}{% endif %}
                {% if website.body %}, {{ website.body }}{% endif %}
                {% if website.field_owner_name %}, Owner: {{ website.field_owner_name }}{% endif %}
            </li>
        {% endfor %}

        {% if websites is empty %}
            <p>Sorry no results were found.</p>
        {% endif %}

    </div>
    {% endspaceless %}

    {% if more.web %}
        <a>See More Website Results</a>
    {% endif %}

</div>