{#
/**
 * @file
 * This implements the universal search main page
 * @Zeplin universal_search_desktop_result
 *
 * Uses unordered list markup in both compact and extended modes.
 *
 * Available variables:
 *  - searchterm - search term used on the site
 *  - directory - list of results from the API at https://directory.ucsf.edu/people/search/name/john+kealy/json
 *      - displayname
 *      - sn
 *      - givenname
 *      - ucsfeduworkingtitle
 *      - uid
 *      - mail
 *      - telephonenumber
 *      - departmentname
 *      - baseaddress
 *      - see API examples for more options
 *  - websites  - list of results from websites.ucsf.edu that match search term
 *
 *  @see UcsfsearchController::content()
 */
#}
<div class="form-search-block-div">
    <div class="search-box-container home-search__form">
        <!-- This was the Google search input box, but didn't allow some things to work right
        <!-- gcse:searchbox enableAutoComplete="true"></gcse:searchbox -->
        <form action="/search/people" method="get">
            <input type="text" name="search" id="search" size="32" alt="Search text" class="searchbox home-search__form-input" value="{{ searchterm }}" />
            <button type="submit" class="home-search__form-submit">Search</button>
        </form>
        {# We should style these like Zeplin mockup and have them link to other routes #}
    </div>
    <ul id="universalSearchTabs">
        <li><a href="/search?search={{ searchterm }}">All Results</a></li>
        <li><a href="/search/news?search={{ searchterm }}">News</a></li>
        <li class="active"><a href="/search/people?search={{ searchterm }}" class="active">People Directory</a></li>
        <li><a href="/search/websites?search={{ searchterm }}">Websites</a></li>
    </ul>
    <div class="results-wrapper">
      <div class="results-wrapper__content">
        <div id="universalDirectory">
            <h3 class="eyebrow-title">People Directory</h3>
            <ul class="search-people">
            {% for person in directory %}
            <li>
                <a href="https://directory.ucsf.edu/people/search/id/{{ person.uid }}" target="_blank">{{ person.displayname }}</a> |
                {% if person.mail %} {{ person.mail }}, {% endif %}
                {% if person.telephonenumber %} {{ person.telephonenumber }}, {% endif %}
                {{ person.departmentname }}
            </li>
            {% endfor %}
            </ul>

            {% if directory is empty %}
                <p>Sorry no results were found.</p>
            {% endif %}

            {% if more.people %}
                <a class="link--cta">See More People Results</a>
            {% endif %}
        </div>
      </div>
    </div>
</div>
