{#
/**
 * @file
 * This implements the universal search main page
 * @Zeplin universal_search_desktop_result
 *
 * Uses unordered list markup in both compact and extended modes.
 *
 * Available variables:
 *  - searchterm - search term used on the site
 *  - directory - list of results from the API at https://directory.ucsf.edu/people/search/name/john+kealy/json
 *      - displayname
 *      - sn
 *      - givenname
 *      - ucsfeduworkingtitle
 *      - uid
 *      - mail
 *      - telephonenumber
 *      - departmentname
 *      - baseaddress
 *      - see API examples for more options
 *  - websites  - list of results from websites.ucsf.edu that match search term
 *
 *  @see UcsfsearchController::content()
 */
#}
{{ attach_library('ucsf/universalsearch') }}
<div class="form-search-block-div">
    <div class="search-box-container">
    {% set formvars = {'searchterm': searchterm, 'location' : '/people', 'placeholder' : 'Search people, places, ideas', 'peoplechecked' : 'checked=checked'} %}
    {% include '@theme/search/search-form.html.twig' with formvars %}
    </div>
    <ul id="universalSearchTabs">
        <li><a href="/search?search={{ searchterm }}">All Results</a></li>
        <li><a href="/search/news?search={{ searchterm }}">News</a></li>
        <li class="active"><a href="/search/people?search={{ searchterm }}" class="active">People Directory</a></li>
        {#<li><a href="/search/websites?search={{ searchterm }}">Websites</a></li>#}
    </ul>
    <div class="results-wrapper">
      <div class="results-wrapper__content">
      <div class="results-wrapper__float">
        <div id="universalDirectory">
            <h3 class="eyebrow-title">People Directory</h3>

            <div class="results-content">
            <ul class="search-people">
            {% for person in directory %}
            <li>
                <strong><a href="https://directory.ucsf.edu/people/search/id/{{ person.uid }}" target="_blank">{{ person.displayname }}</a></strong> |
                {% if person.mail %} {{ person.mail }}, {% endif %}
                {% if person.telephonenumber %} {{ person.telephonenumber }}, {% endif %}
                {{ person.departmentname|title|replace({'_': " "}) }}
            </li>
            {% endfor %}
            </ul>

            {% if directory is empty %}
                <p>Sorry no results were found.</p>
            {% endif %}

            {% if more.people %}
                <a class="link--cta" href="http://directory.ucsf.edu/people/search/name/{{ searchterm }}">See More</a>
            {% endif %}
            </div>
        </div>
      </div>
      </div>
    </div>
</div>
