{#
/**
 * @file
 * This implements the universal search main page
 * @Zeplin universal_search_desktop_result
 *
 * Uses unordered list markup in both compact and extended modes.
 *
 * Available variables:
 *  - searchterm - search term used on the site
 *  - directory - list of results from the API at https://directory.ucsf.edu/people/search/name/john+kealy/json
 *      - displayname
 *      - sn
 *      - givenname
 *      - ucsfeduworkingtitle
 *      - uid
 *      - mail
 *      - telephonenumber
 *      - departmentname
 *      - baseaddress
 *      - see API examples for more options
 *      - more.people - true/false value of if there are more results then displayable
 * Available variables:
 *  - searchterm - search term used on the site
 *  - websites  - list of results from websites.ucsf.edu that match search term
 *      - website.title
 *      - website.field_website_url
 *      - website.field_display_name
 *      - website.field_meta_title
 *      - website.body
 *  - more.web - true/false value of if there are more results then displayable.
 *
 *  @see UcsfsearchController::search()
 */
#}
<div class="form-search-block-div">
    <div class="search-box-container">
        <!-- This was the Google search input box, but didn't allow some things to work right
        <!-- gcse:searchbox enableAutoComplete="true"></gcse:searchbox -->
        <form action="/search" method="get">
            <input type="text" name="search" id="search" size="32" class="searchbox" value="{{ searchterm }}" />
            <button type="submit">Search</button>
        </form>
        {# We should style these like Zeplin mockup and have them link to other routes #}
        <ul id="universalSearchTabs">
            <li class="active"><a href="/search?search={{ searchterm }}">All Results</a></li>
            <li><a href="/search/news?search={{ searchterm }}">News</a></li>
            <li><a href="/search/people?search={{ searchterm }}">People Directory</a></li>
            <li><a href="/search/websites?search={{ searchterm }}">Websites</a></li>
        </ul>
    </div>
    {% if directory is not empty %}
    <div id="universalDirectory" style="padding-top: 50px;">
        <h3>People</h3>
        <ul>
        {% for person in directory %}
        <li>
            <a href="https://directory.ucsf.edu/people/search/id/{{ person.uid }}" target="_blank">{{ person.displayname }}</a> |
            {% if person.mail %} {{ person.mail }}, {% endif %}
            {% if person.telephonenumber %} {{ person.telephonenumber }}, {% endif %}
            {{ person.departmentname }}
        </li>
        {% endfor %}
        </ul>
        {% if more.people %}
            <a>See More</a>
        {% endif %}
    </div>
    {% endif %}

    {% if websites is not empty %}
    <div id="universalWebsites" style="padding-top: 50px;">
        <h3>Websites</h3>
        {% for website in websites %}
            <li>
                {{ website.title }} |
                <a href="{{ website.field_website_url }}" target="_blank">{{ website.field_website_url }}</a>
                {% if website.field_display_name %}, {{ website.field_display_name }}{% endif %}
                {% if website.field_meta_title %}, {{ website.field_meta_title }}{% endif %}
                {% if website.body %}, {{ website.body }}{% endif %}
            </li>
        {% endfor %}
        {% if more.web %}
            <a>See More</a>
        {% endif %}
    </div>
    {% endif %}

    <div id="cse" style="padding-top: 50px;">
        <h3>All Results</h3>
        <!-- Google Search Results -->
        <gcse:searchresults-only queryParameterName="search"></gcse:searchresults-only>
    </div>

</div>