{#
/**
 * @file
 * This implements the universal search main page
 * @Zeplin universal_search_desktop_result
 *
 * This is Google's search results, we can style them any way we like but can't change what comes back from google.
 * There are changes that can be made in the Google Custom Search admin panel.    Which either Sara or Eric have
 * access to.
 *
 *  @see UcsfsearchController::news()
 */
#}
{{ attach_library('ucsf/universalsearch') }}
<div class="form-search-block-div">
    <div class="search-box-container">
        {% set formvars = {'searchterm': searchterm, 'location' : '/news', 'placeholder' : 'Search people, places, ideas', 'newschecked' : 'checked=checked'} %}
        {% include '@theme/search/search-form.html.twig' with formvars %}
    </div>
    <ul id="universalSearchTabs">
        <li><a href="/search?search={{ searchterm }}">All Results</a></li>
        <li class="active"><a href="/search/news?search={{ searchterm }}" class="active">News</a></li>
        <li><a href="/search/people?search={{ searchterm }}">People Directory</a></li>
        {# <li><a href="/search/websites?search={{ searchterm }}">Websites</a></li> #}
    </ul>
    <div class="results-wrapper">
      <div class="results-wrapper__content">
      <div class="results-wrapper__float">
        <div id="cse">
            <h3 class="eyebrow-title">News Results</h3>
            <!-- Google Search Results -->

            <div class="results-content">
            <gcse:searchresults-only queryParameterName="search" defaultToRefinement="news"></gcse:searchresults-only>
            </div>
        </div>
      </div>
      </div>
    </div>
</div>
