{#
/**
 * @file
 * This implements the universal search main page
 * @Zeplin universal_search_desktop_result
 *
 * Uses unordered list markup in both compact and extended modes.
 *
 * Available variables:
 *  - searchterm - search term used on the site
 *  - websites  - list of results from websites.ucsf.edu that match search term
 *      - website.title
 *      - website.field_website_url
 *      - website.field_display_name
 *      - website.field_meta_title
 *      - website.body
 *       - website.owner
 *  - more - true/false value of if there are more results then displayable
 *  so you can place a more button on the page to goto the websites.ucsf.edu/azlist
 *
 *  @see UcsfsearchController::websiteLookup()
 */
#}
{{ attach_library('ucsf/universalsearch') }}
<div class="form-search-block-div">
    <div class="search-box-container">
        {% set formvars = {'searchterm': searchterm, 'location' : '/websites', 'placeholder' : 'Search people, places, ideas', 'websiteschecked' : 'checked=checked'} %}
        {% include '@theme/search/search-form.html.twig' with formvars %}
    </div>
    <ul id="universalSearchTabs">
        <li><a href="/search?search={{ searchterm }}">All Results</a></li>
        <li><a href="/search/news?search={{ searchterm }}">News</a></li>
        <li><a href="/search/people?search={{ searchterm }}">People Directory</a></li>
        {# <li class="active"><a href="/search/websites?search={{ searchterm }}">Websites</a></li> #}
    </ul>

    <div class="results-wrapper">
      <div class="results-wrapper__content">
      <div class="results-wrapper__float">
      {% apply spaceless %}
        <div id="universalWebsites">
            <h3 class="eyebrow-title">Websites</h3>

            <div class="results-content">
            <ul class="search-websites">
            {% for website in websites %}
                <li>
                    <strong>{{ website.title }}</strong> | <a href="{{ website.field_website_url }}" target="_blank">{{ website.field_website_url }}</a>{% if website.field_display_name %}, {{ website.field_display_name|replace({'_': " "}) }}{% endif %}
                </li>
            {% endfor %}
            </ul>
            {% if websites is empty %}
                <p>Sorry no results were found.</p>
            {% endif %}
           {% endapply %}

            {% if more.web %}
                <a class="link--cta" href="https://websites.ucsf.edu/azlist?combine={{ searchterm }}">See More</a>
            {% endif %}
            </div>
        </div>
      </div>
      </div>
    </div>

</div>
