{{ attach_library('evolve/hero-default') }}
<div class="hero-default">
  {{ title_prefix }}
  {{ title_suffix }}
  {{ content.field_hero }}
  <div class="ohm-container">
    <h1{{ title_attributes.addClass('padding-mobile') }}>
      <svg class="slash"><use href="#icon-slash"/></svg>{{ label }}
    </h1>
  </div>
</div>
