{% set classes = ['main'] %}
{% set layout = term.field_banner_layout.value %}
{% set no_page_title = no_page_title ? no_page_title : '' %}
{% set taxonomy_page = 'topic-page' %}

<div class="magazine-topic-issue-page magazine-{{taxonomy_page}}">
	<main {{ attributes.addClass(classes) }}>
		<a id="main-content" tabindex="-1"></a>
		<div class="magazine-{{taxonomy_page}}">
			<header class="magazine-{{taxonomy_page}}__heade mag-basic-header">

				{% if no_page_title != true %}
					<h1 class="magazine-{{taxonomy_page}}__header-title">UCSF Magazine
						<span class="magazine-{{taxonomy_page}}__header-subtitle">{{ name }}</span>
					</h1>
				{% else %}
					<h1 class="mag-basic-header__title">{{ name }}</h1>
				{% endif %}
				{% if content.field_mag_page_sub_title|render|striptags != ''  %}
					<div class="mag-basic-header__subtitle">{{ content.field_mag_page_sub_title.0 }}</div>
				{% endif %}
			</header>

			{% if layout == 'featuretwosupport' %}
				{% include '@theme/banner/magazine-feature-two-support.twig' %}
			{% elseif layout == 'featurethreesupport' %}
				{% include '@theme/banner/magazine-feature-three-support.twig' %}
				{% else %}

			{% endif %}

			<div class="{{taxonomy_page}}-wrapper magazine-topics-latest">

				<h2 class="magazine-topics-latest__title">The Latest</h2>

				<div class="news-list">
					{% block article_view %}

						{% if layout == 'featuretwosupport' or layout == 'featurethreesupport' %}
							{{ drupal_view('topics_tags_news_articles', 'block_2') }}
						{% else %}
							{{ drupal_view('topics_tags_news_articles', 'block_4') }}
						{% endif %}

					{% endblock %}
				</div>
			</div>
		</div>
	</main>
</div>

<div class="footer-ctas-wrapper magazine-topic-footer-ctas-wrapper" role="complementary">
	{{ content.field_ankle_cta }}
</div>
