{% set classes = ['main'] %}
{% set layout = term.field_banner_layout.value %}

<div class="magazine-topic-issue-page magazine-issue-page">
<main {{ attributes.addClass(classes) }}>
  <a id="main-content" tabindex="-1"></a>
  <div class="magazine-topic-page">
      <header class="basic-header magazine-homepage-banner {{ banner_image }} {{ body_classes}}">
        <div class="magazine-homepage-banner__header">
          <h1 class="magazine-homepage-banner__title">UCSF Magazine <span class="magazine-issue-page__header-subtitle">{{ name }}</span></h1>

          <div class="magazine-issue-banner">
          {{ content.field_issue_cover }}

          <div class="magazine-issue-banner__content">
          <h2 class="magazine-issue-banner__title">{{ name }}</h2>
          {{ content.field_issue_description }}

          <h3 class="magazine-issue-banner__about-title">About this Issue:</h3>
          <p class="magazine-issue-banner__about-desc">
          {{ content.field_volume_issue }}

          {% if term.field_editorial_team is not empty %}
          <br />
          {{ content.field_editorial_team }}
          {% endif %}

          </p>
          {% if term.field_download_pdf is not empty %}
          <p class="magazine-issue-banner__download">{{ content.field_download_pdf }}</p>
          {% endif %}
          </div>
          </div>
        </div>
      </header>

      <h2 class="magazine-issue-feature__title">Features</h2>
      {% if layout == 'featuretwosupport' %}
        {% include '@theme/banner/magazine-feature-two-support.twig' %}
      {% else %}
        {% include '@theme/banner/magazine-feature-three-support.twig' %}
      {% endif %}

      <div class="magazine-big-picture-subscribe">
        <div class="magazine-big-picture-subscribe__big-picture">
          {{ content.field_big_picture }}
        </div>
        <div class="magazine-big-picture-subscribe__subscribe">
          <h2>Stay up to date on the latest from <em>UCSF Magazine</em></h2>
          <form action="/subscribe-magazine" class="form--subscribe-mag" method="GET"><label class="visually-hidden" for="email">E-mail</label> <input id="email" name="email" onblur="this.placeholder='Enter your email'" onfocus="this.placeholder=''" placeholder="Enter your email" type="text" value=""><button>Subscribe</button></form>
        </div>
      </div>

      <div class="magazine-supporting-feature-list">
      {{ content.field_feature_article_list }}
      </div>

    <div class="magazine-insight-advice">
          <h2>Insight & Advice</h2>

          <div class="news-list">
            {% block article_view %}
              {{ drupal_view('magazine_issue_insight_advice', 'block_1') }}
            {% endblock %}
          </div>
    </div>

    <div class="magazine-hub-inside">
      <div class="magazine-hub-inside__hub">
        <h2 class="magazine-hub-inside__title">Alumni Hub</h2>
        <p class="magazine-hub-inside__inside-more"><a href="https://alumni.ucsf.edu/stories" class="link--cta">Read more</a></p>
        {{ content.field_alumni_hub }}
      </div>
      <div class="magazine-hub-inside__inside">
        <h2 class="magazine-hub-inside__title">Recommended</h2>
        <p class="magazine-hub-inside__inside-more"><a href="" class="link--cta">Find more</a></p>
        {{ content.field_recommended_read }}
        {{ content.field_recommended_watch }}
        {{ content.field_recommended_listen }}
      </div>
    </div>

    <div class="magazine-inside-hub">
      <h2>Inside UCSF</h2>
      <p class="magazine-hub-inside__inside-more"><a href="/news" class="link--cta">Visit the New Center</a></p>

      {{ content.field_inside_ucsf }}
    </div>

  </div>
</main>
</div>
