{% set classes = ['main'] %}

<main {{ attributes.addClass(classes) }}>
  <a id="main-content" tabindex="-1"></a>
  <div class="topic-banner">
    {{ content.field_taxonomy_banner_image }}
  </div>

  <div class="topic-page">
    <div class="topic-content-wrapper">
      <header class="basic-header topic-page__header">
        <p class="topic-page__eyebrow">Topic</p>
        <h1 class="topic-page__header-title">{{ name }}</h1>
      </header>

      {% if content.description|render|striptags != '' %}
        <div class="topic-content">
          {{ content.description }}
        </div>
      {% endif %}
    </div>

    <div class="topic-page-wrapper">
          {{ content.field_content_panel }}

          <div class="news-list">
            {% block article_view %}
              {{ drupal_view('topics_tags_news_articles', 'block_1') }}
            {% endblock %}
          </div>
    </div>
  </div>
</main>

<div class="footer-ctas-wrapper" role="complementary">
  {{ content.field_ankle_cta }}
</div>
