<div class="article-feature-banner">
  <figure class="article-feature-banner-image">
    {{ content.field_banner_image }}
  </figure>

  <header class="article-header article-feature-header">
    <ul class="article-header__byline">
      <li class="article-header__Research">{{ content.field_primary_area }}</li>
      <li class="article-header__date">{{ content.field_date }}</li>
    </ul>

    <h1>
      {{ label }}
    </h1>

    <p class="article-header__subheading">
      {{ content.field_sub_title }}
    </p>

    <p class="article-header__author what">
      By <a href="#">{{ content.field_author }}</a>
    </p>
  </header>
</div>
