{% set primary_area = node.field_primary_area.0.entity.label|clean_class %}

<ul class="article-header__byline">
  <li class="article-header__primary-area" data-primary-area="{{ primary_area }}">{{ content.field_primary_area }}</li>
  <li class="article-header__date">{{ content.field_date_and_time }}</li>
</ul>
<h1>{{ label }}</h1>
<div class="article-header__subheading">
  {{ content.field_sub_title }}
</div>
<div class="article-header__author">
  {{ "By"|t }}
  {% set authors = content.field_author['#items'] %}
  {% set authors = authors|merge(content.field_custom_author['#items']) %}
  {%- for author in authors -%}
    {%- if loop.first -%}
      {%- include '@theme/banner/banner-author.twig' -%}
    {%- elseif loop.last and loop.length == 2 -%} and
      {%- include '@theme/banner/banner-author.twig' -%}
    {%- elseif loop.last -%}, and
      {%- include '@theme/banner/banner-author.twig' -%}
    {%- else -%}, {%- include '@theme/banner/banner-author.twig' -%}
    {%- endif -%}
  {%- endfor -%}
</div>
