{%- if author.entity.entitytypeid == 'node' -%}
  {% set path = path('entity.node.canonical', {'node': author.entity.id}) %}
  {{ separator }}<a href="{{ path }}">{{ author.entity.label }}</a>
{%- elseif author.entity.entitytypeid == 'taxonomy_term' -%}
  {{ separator }}{{ author.entity.label }}{%- endif -%}