{# used on news center node #}

{% extends 'paragraph--featured--alt.html.twig' %}

{% block wrapper_top %}
  {% set unique_title = paragraph.field_news_article.entity.label %}
  <!-- nid: {{ paragraph.field_news_article.target_id }}  -->
  <article{{attributes.addClass('news-card')}} aria-label="Teaser for: {{unique_title}}">
    <a href="{{ link }}" class="news-card__link">
    {% endblock wrapper_top %}

    {% block article_image %}
      {# Feature Paragraph > News Article (News) > Card Image #}
      {% set card_image_uri = paragraph.field_news_article.entity.field_card_image.0.entity.field_media_image.entity.fileuri %}
      {% set card_image_alt = paragraph.field_news_article.entity.field_card_image.0.entity.field_media_image.alt %}
      <figure>
        <picture>
          <img src="{{ card_image_uri|image_style('featured_news_card__image') }}" alt="{{card_image_alt}}"/>
        </picture>
      </figure>
    {% endblock article_image %}

    {% block wrapper_bottom %}

      {% if content.field_text_body|render|striptags != '' %}
        {# Feature Paragraph - Banner Description #}
        <div class="news-card__desc">{{ content.field_text_body }}</div>
      {% else %}
        {# Feature Paragraph > News Article (News) > Sub Title #}
        <div class="news-card__desc">{{ drupal_field('field_sub_title', 'node', paragraph.field_news_article.target_id) }}</div>
      {% endif %}
    </header>
  </a>
</article>{% endblock wrapper_bottom %}
