{# used on homepage node #}

{% if content.field_link|render|striptags != '' %}
  {# Feature Paragraph > Overwrite Link #}
  {% set link = paragraph.field_link.value.0.uri %}
{% elseif drupal_field('field_external_url', 'node', paragraph.field_news_article.target_id)|render|striptags != '' %}
  {# Feature Paragraph > News Article (News) > External URL #}
  {% set external_link = drupal_field('field_external_url', 'node', paragraph.field_news_article.target_id) %}
  {% set link = external_link.0['#url'].uri %}
{% else %}
  {# Feature Paragraph > News Article (News) > ID #}
  {% set link = drupal_url('node/' ~ content.field_news_article.0['#node'].id ) %}
{% endif %}

{% block wrapper_top %}
  {% set magazine_class = '' %}
  {% if article_type == 'magazine_article' %}
    {% set magazine_class = 'magazine-article' %}
  {% endif %}

  <li{{attributes.addClass(classes, magazine_class)}}>
    {% set unique_title = paragraph.field_news_article.entity.label %}
    <article class="news-card" aria-label="Teaser for: {{unique_title}}" data-primary-area="{{'pa-' ~ primary_area|clean_class}}">
      <a href="{{ link }}" class="news-card__link">
      {% endblock wrapper_top %}
      <div class="news-card__image">
        {% if content.field_image_media|render|striptags != ''%}
          {# Feature Paragraph - Overwrite Image #}
          {{ content.field_image_media }}
        {% else %}
          {% block article_image %}
            {# Feature Paragraph > News Article (News) > Card Image #}
            {% if drupal_field('field_card_image', 'node', paragraph.field_news_article.target_id, 'card')|render %}
              {{ drupal_field('field_card_image', 'node', paragraph.field_news_article.target_id, 'card') }}
            {% else %}
              {# Fall back when no image is provided in the article or card overwrite field #}
              <figure>
                <picture>
                  <img class="element-fade" src="/themes/custom/ucsf/assets/images/card/transparent-news-card.png" alt="Placeholder image">
                </picture>
              </figure>
            {% endif %}
          {% endblock article_image %}
        {% endif %}
      </div>

      <header class="news-card__copy">
        {% block article_byline %}
          {% if article_type == 'magazine_article' %}
            <ul class="news-card__byline">
              <li class="news-card__primary-area" data-primary-area="pa-ucsf-magazine">UCSF Magazine</li>
              <li class="article-header__date news-card__date">{{ drupal_field('field_magazine_issue', 'node', paragraph.field_news_article.target_id, 'card') }}</li>
            </ul>
          {% else %}
            {% include '@theme/homepage/homepage-byline.twig' %}
          {% endif %}
        {% endblock article_byline %}

        <h2>
          {% if content.field_title|render|striptags != '' %}
            {# Feature Paragraph - Overwrite Title #}
            {{ content.field_title }}
          {% else %}
            {# Feature Paragraph > News Article (News) > Title #}
            {{ paragraph.field_news_article.entity.label }}
          {% endif %}
        </h2>
        {% block wrapper_bottom %}
        </header>
      </a>
    </article>
  </li>
{% endblock wrapper_bottom %}
