{# used on trending node #}
<li{{ attributes.addClass(classes) }}>
  <div class="card-row">
    <div class="card-row__image">
      {{ content.field_image_media }}
    </div>
    <div class="card-row__copy">
      <header class="news-card ">
        <h2>
          {{ content.field_title }}
        </h2>
      </header>
      <div class="card-row__body">
       {{ content.field_description }}
      </div>
      <div class="card-row__link link--cta">
        {{ content.field_link }}
      </div>
    </div>
  </div>
</li>
