{# used on homepage node #}

{% if content.field_link|render|striptags != '' %}
  {# Feature Paragraph > Overwrite Link #}
  {% set link = paragraph.field_link.value.0.uri %}
{% elseif drupal_field('field_external_url', 'node', paragraph.field_news_article.target_id) %}
   {# Feature Paragraph > News Article (News) > External URL #}
  {% set external_link = drupal_field('field_external_url', 'node', paragraph.field_news_article.target_id) %}
  {% set link = external_link.0['#url'].uri %}
{% else %}
  {# Feature Paragraph > News Article (News) > ID #}
  {% set link = drupal_url('node/' ~ content.field_news_article.0['#node'].id ) %}
{% endif %}

{% block wrapper_top %}
<li{{  attributes.addClass(classes) }}>
  <article class="news-card">
    <a href="{{ link }}" class="news-card__link">
{% endblock wrapper_top %}
      <div class="news-card__image">
        {% if content.field_image_media|render|striptags != ''%}
          {# Feature Paragraph - Overwrite Image #}
          {{ content.field_image_media }}
        {% else %}
          {% block article_image %}
          {# Feature Paragraph > News Article (News) > Card Image #}
          {{ drupal_field('field_card_image', 'node', paragraph.field_news_article.target_id) }}
          {% endblock article_image %}
        {% endif %}
      </div>

      <header class="news-card__copy">
        {% include '@theme/homepage/homepage-byline.twig' %}

        <h2>
          {% if content.field_title|render|striptags != '' %}
            {# Feature Paragraph - Overwrite Title #}
            {{ content.field_title }}
          {% else %}
            {# Feature Paragraph > News Article (News) > Title #}
            {{ paragraph.field_news_article.entity.label }}
          {% endif %}
        </h2>
{% block wrapper_bottom %}
      </header>
    </a>
  </article>
</li>
{% endblock wrapper_bottom %}
