{% set color_class = paragraph.field_textbox_background_color.entity.name.value|clean_class %}

{% if content.field_link|render|striptags != '' %}
  {# Feature Paragraph > Overwrite Link #}
  {% set link = paragraph.field_link.value.0.uri %}
{% else %}
  {# Feature Paragraph > News Article (News) > ID #}
  {% set link = content.field_news_article[0]['#url'] %}
{% endif %}


<article class="news-package-card {% if color_class %}card-with-offset-color{% endif %}">
  <a href={{ link }}>

    {# Card image #}
    <div class="card__image {% if color_class %}offset-frame background-{{color_class}}{% endif %}">
      <picture class="card__image-wrapper">
        {% if content.field_image_media|render|striptags != ''%}
          {# Feature Paragraph - Overwrite Image #}
          {{ content.field_image_media.0 }}
        {% else %}
          {# Feature Paragraph > News Article (News) > Card Image #}
          {% set fid = paragraph.field_news_article.entity.field_card_image.entity.field_media_image.entity.fid.value %}
          {% if fid %}
            {{ drupal_image(fid, 'full_width_news_package_square_card', responsive=true) }}
          {% else %}
            {# Fall back when no image is provided in the article or card overwrite field #}
            <img class="element-fade" src="/themes/custom/ucsf/assets/images/card/transparent-news-card.png" alt="Placeholder image">
          {% endif %}
        {% endif %}
      </picture>
    </div>

    {# Card Title #}
    {% if paragraph.field_news_article.entity.label|render|striptags != '' or content.field_title|render|striptags != ''%}
      <h2 class='card__title'>
        {% if content.field_title.0|render|striptags != '' %}
          {# Feature Paragraph - Overwrite Title #}
          {{ content.field_title.0 }}
        {% else %}
          {# Feature Paragraph > News Article (News) > Title #}
          {{ paragraph.field_news_article.entity.label }}
        {% endif %}
      </h2>
    {% endif %}
  </a>
  {{ content|without('field_textbox_background_color', 'field_image_media', 'field_title', 'field_news_article', 'field_link') }}
</article>
