{% set classes = [
  'promo-list__card',
  'promo-list__card--alt',

] %}
{% set image_value = paragraph.field_image_media.entity.field_media_image.entity.uri.value %}
{% set background = image_value ? file_url(image_value | image_style('news_card__image')) : false %}
<li{{ attributes.addClass(classes) }}>
  <a class="promo-list__card-link" href="{{ paragraph.field_promo_cta.0.url }}">
    <span class="promo-list__card-image"
      {% if background %}
        style="background-image: url('{{ background }}');"
      {% endif %}
    >
    </span>
    <div class="promo-list__card-content background-{{ paragraph.field_textbox_background_color.entity.label|clean_class }}">
      {{ content.field_promo_text }}
      <p class="promo-list__card-more"><span href="{{ paragraph.field_promo_cta.0.url }}" class="link link--cta">{{ paragraph.field_promo_cta.value.0.title }}</span></p>
    </div>
  </a>
</li>
