{% set classes = [
  'js-tabs',
  'layout-left-30-70',
  paragraph.field_vertical_tab_design.value,
] %}

{{ attach_library('ucsf/vertical_tabs') }}
<div{{ attributes.addClass(classes) }}>

  {# titles #}
  <ul class="vertical-tab__title js-tablist field-column-30">
    {% for paragraph_vertical_tab in paragraph.field_tabs %}
      <li role="presentation">
        <a href="#tabs-{{ loop.index }}">
          {{ paragraph_vertical_tab.entity.field_tab_title.value }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {# content #}
  {% for paragraph_vertical_tab in paragraph.field_tabs %}
    <div id="tabs-{{ loop.index }}" class="field-column-70">
        {{ drupal_field('field_tab_unscrollable_content','paragraph', paragraph_vertical_tab.value.target_id) }}
      {{ drupal_field('field_tab_content','paragraph', paragraph_vertical_tab.value.target_id) }}
    </div>
  {% endfor %}
</div>
