{{ content.body }}
    {{ content.field_content_panel }}

{% if content.field_legacy_gallery|render %}
  {% set classes = [
  'paragraph--type--gallery',
  ] %}
  {{ attach_library('ucsf/slick_gallery') }}
  <div class="paragraph-text-block gallery-background-fill"></div>
  <div{{ attributes.addClass(classes) }}>
    <div class="gallery-container">
        {{content.field_legacy_gallery}}
    </div>
  </div>

{% endif %}
{% if content.field_overwrite_promo_spotlight|render and (node.field_remove_promo_spotlight[0].value == '0') %}
  {{content.field_overwrite_promo_spotlight}}
{% else %}
  {% set modifier_node_vars = {
    parentNode : node,
  } %}

  {# MM/MD/YYYY- example 02/28/2024 #}
  {% if (node.created.value|date('U') > '01/03/2024'|date('U')) and (node.field_remove_promo_spotlight[0].value == '0') %}
    {% include '@ucsf_mag/components/promo-spotlight.twig' with modifier_node_vars %}
  {% endif %}

{% endif %}



<div class="tags-menu-region">
  {% if content.field_topics|render or content.field_tags|render %}
    <h3 class="tags-menu__title">{{ "UCSF News Topics"|t }}</h3>
    {{ drupal_view('ucsf_topics_for_magazine_articles_terms', 'block_1') }}
  {% endif %}
</div>
