{{ attach_library('ucsf/vertical_tabs') }}

{% set expanded = 'true' %}
{% if '1' in content.field_display_closed[0] %}
  {% set emerclass = 'emergency-alert--collapsed' %}
  {% set expanded = 'false' %}
{% endif %}

{% if '1' in content.field_small_title[0] %}
  {% set emertitleclass = 'emergency-alert--small-title' %}
{% endif %}

{% set bg_color = 'background-yellow' %}
{% if content.field_textbox_background_color.0 %}
  {% set bg_color = 'background-' ~ content.field_textbox_background_color[0]['#plain_text']|clean_class %}
{% endif %}

<aside class="emergency-alert {{ emerclass }} {{ bg_color }} {{ emertitleclass }}">
  {{ title_prefix }}
  {% if label %}
    <h2 class="emergency-alert__header">
      <a href="#collapse-{{derivative_plugin_id}}" class="emergency-alert__toggle" role="button" aria-expanded="{{expanded}}" aria-controls="collapse-{{derivative_plugin_id}}">
        {{ label }}
      </a>
    </h2>
  {% endif %}
  {{ title_suffix }}
  <div class="emergency-alert__content" id="collapse-{{derivative_plugin_id}}">
    {% block content %}
      {{ content|without('field_display_closed','field_textbox_background_color', 'field_small_title') }}
    {% endblock %}
  </div>
</aside>
