    {# If hashtags will be in Tweets it will appear else nothing will show up. #}
        {# Other Tweets Information can be fetched like Followers, Status_count... #}
        {# <a target="_blank" href="{{ tweet.entities.urls.url }}"> #}{# </a> #}


{% block tweet %}
  {% for tweet in params.tweets %}
  <li class="twitter__tweet">
      <a href="https://twitter.com/{% if tweet.retweeted_status.user.screen_name %}{{tweet.retweeted_status.user.screen_name}}{% else %}{{tweet.user.screen_name}}{% endif %}/status/{{tweet.id}}">
        <img class="twitter-icon" alt="twitter account icon" loading="lazy" src='{% if tweet.retweeted_status.user.profile_image_url %}{{tweet.retweeted_status.user.profile_image_url|replace({"http://":"https://"}) }}{% else %}{{ tweet.user.profile_image_url|replace({"http://":"https://"}) }}{% endif %}' width="48" height="48"/>

        <h3 class="twitter__user">
          {% if tweet.retweeted_status.user.name %}
              {{tweet.retweeted_status.user.name}}
          {% else %}
              {{ tweet.user.name }}
          {% endif %}
        </h3>
      </a>
      <p class="tweeter__handle-time">
      {% if tweet.retweeted_status.user.screen_name %}
          @{{tweet.retweeted_status.user.screen_name}}
      {% else %}
          @{{tweet.user.screen_name}}
      {% endif %}
      <span class="tweeter_time">{{ tweet.created_at|time_diff|preg_replace('/ |[a-c,e-g,i-l,n-z]/','')}}</span>
      </p>

      {% autoescape false %}
      <p class="twitter__text">
      {% if tweet.retweeted_status.full_text %}
        {{tweet.retweeted_status.full_text}}
      {% else %}
        {{ tweet.full_text }}
      {% endif %}
      </p>
      {% endautoescape %}
  </li>
  {% endfor %}
{% endblock %}
