{#
/**
 * @file
 * Youtube Gallery theme implementation to display a list of youtube channel video listing.
 *
 * Available variables:
 *
 * Current play video variables:
 * - currentVideo.videoId: Current video Id.
 * - currentVideo.title: Current video title.
 * - currentVideo.description:Current video description.
 * - currentVideo.publishedAt: Current video published date.
 *
 * More video listing:
 * - content.items: This variable returns youtube data.
 *
 */
#}
{% set classes = ['youtube-list__videos']%}

{{ attach_library('ucsf/slick_youtube') }}
<div{{ attributes.addClass(classes) }}>
{% for key, value in content.items %}
	<p class="video-item__youtube" sytle="margin:32px">
		<a target= "_blank" href="https://www.youtube.com/watch?v={{ value.snippet.resourceId.videoId }}">
			<img src={{ value.snippet.thumbnails.medium.url }} />
		</a></br>
		<a target= "_blank" href="https://www.youtube.com/watch?v={{ value.snippet.resourceId.videoId}}">
			{{ value.snippet.title}}
		</a>
	</p>
{% endfor %}
</div>
