{#
/**
 * @file
 * Youtube Gallery theme implementation to display a list of youtube channel video listing.
 *
 * Available variables:
 *
 * Current play video variables:
 * - currentVideo.videoId: Current video Id.
 * - currentVideo.title: Current video title.
 * - currentVideo.description:Current video description.
 * - currentVideo.publishedAt: Current video published date.
 *
 * More video listing:
 * - content.items: This variable returns youtube data.
 *
 */
#}
{% set classes = ['youtube-list__videos'] %}

{{ attach_library('ucsf/slick_youtube') }}
<ul{{attributes.addClass(classes)}}>
  {% for key, value in content.items %}
    <li class="video-item__youtube">
      <a class="video_preview" href="https://www.youtube.com/watch?v={{ value.snippet.resourceId.videoId }}" target="_blank">
        <img src={{ value.snippet.thumbnails.medium.url }} alt=""/>
        <h3 class="video_preview__title">{{ value.snippet.title}}</h3>
      </a>
    </li>
  {% endfor %}
</ul>
