{{ attach_library('ucsf/universalsearch') }}
{# modifyer_search_classes are used in magazine template include #}
{% set modifyer_search_vars = modifyer_search_vars ? : '' %}
{% set filter_option_text = filter_option_text ?: 'UCSF News Center' %}
{% set placeholder_text = placeholder_text ?: 'Search people, places, ideas' %}
{% set link = link ?: path('<front>') %}
<div class="header--search menu-item"><a href="/search" role="button" class="nolink mobile-search-reveal {{modifyer_search_icon}}"><span>Search</span></a>
<div class="home-search__form {{modifyer_search_form}}">
  <form action="/search" accept-charset="utf-8" method="get" class="search__form">
    <label for="header-search" class="visually-hidden">Small screen search</label>
    <input type="text" name="search" id="header-search" size="32" class="home-search__form-input {{modifyer_search_form_input}}" value="{{ searchterm }}" placeholder="{{ placeholder_text }}" />
    {# this should be /images/search.svg file #}
    <input type="submit" id="edit-submit-header" name="op" value="Search" class="home-search__form-submit {{modifyer_search_form_submit}}">
    {# Filter Radio buttons start #}
    <fieldset class="fieldset-reset">
      <legend class="visually-hidden">Choose what type of search to perform</legend>
      <div class="search-filter">
        {# Option 1 #}
        <label for="allucsf">
          <input id="allucsf" type="radio" name="filter" class="visually-hidden search-filter__radio" value="All" checked>
          <div class="search-filter__label">
            <span class="search-filter__option"></span>
            <span>All UCSF</span>
          </div>
        </label>
        {# Option 2 #}
        <label for="newscenter">
          <input id="newscenter" type="radio" name="filter" class="visually-hidden search-filter__radio" value="News">
          <div class="search-filter__label">
            <span class="search-filter__option"></span>
            <span>{{filter_option_text}}</span>
          </div>
        </label>
      </div>
    </fieldset>
  </form>
</div>
</div>
