  
  {{ content.body }}
  {{ content.field_content_panel }}

{% if content.field_legacy_gallery|render %}
  {% set classes = [
  'paragraph--type--gallery',
  ] %}
  {{ attach_library('ucsf/slick_gallery') }}
  <div class="paragraph-text-block gallery-background-fill"></div>
  <div{{ attributes.addClass(classes) }}>
    <div class="gallery-container">
        {{content.field_legacy_gallery}}
    </div>
  </div>

{% endif %}


<div class="tags-menu-region">
  {% if content.field_topics|render or content.field_tags|render %}
    {{ attach_library('ucsf/ucsf_article_topics_correct_heading') }}
    <h3 class="tags-menu__title">{{ "Topics"|t }}</h3>
    <ul class="tags-menu">
      {{ content.field_topics }} {{ content.field_tags }}
    </ul>
  {% endif %}
</div>
