{% set classes = [ 'article-feature-banner'] %}

<div{{ attributes.addClass(classes) }}>
  <figure class="article-feature-banner-image">
    {% if content.field_video_banner|render %}
      {{ content.field_video_banner }}
    {% else %}
      {{ content.field_banner_image }}
    {% endif %}
  </figure>

  <header class="article-header article-feature-header">
    {% include '@theme/banner/magazine-banner-content.twig' %}
  </header>
</div>
<div class="main-content article-feature-content narrow-page">
  {#{% include "@theme/share/share.twig" %}#}
    <ul class="article-meta-share">
      <li><a rel="nofollow" href="http://www.facebook.com/share.php?u={{ url('<current>') }}" target="_blank" title="Facebook"><span class="fab fa-facebook-square"></span> <span class="indent-text">Facebook</span></a></li>

      <li><a rel="nofollow" href="http://www.twitter.com/share?text={{node.label}}&url={{ url('<current>') }}" target="_blank" title="Twitter"><span class="fab fa-twitter-square"></span> <span class="indent-text">Twitter</span></a></li>

      <li><a rel="nofollow" href="http://www.reddit.com/submit?url={{ url('<current>') }}&title={{node.label}}" target="_blank" title="Reddit"><span class="fab fa-reddit-square"></span> <span class="indent-text">Reddit</span></a></li>

      <li><a rel="nofollow" href="mailto:?to=&subject=From UCSF News: {{node.label}}&body={{node.label}}%0D%0A%0D%0A{{ node.body.summary }}%0D%0A%0D%0A{{ url('<current>') }}" title="Email Article"><span class="fas fa-envelope-square"></span> <span class="indent-text">Email</span></a></li>

      <li><a rel="nofollow" onclick="window.print();return false;" href="{{ url('<current>') }}" title="Print Article"><span class="fas fa-print"></span> <span class="indent-text">Print</span></a></li>
    </ul>

  {% include "@theme/article/magazine-article-body.twig" %}
</div>
