{# Handle use case when field value is "null" instead of empty string #}
{% if paragraph.field_news_article.target_id|render|striptags != null %}
  {% set drupal_field_paragraph_id = paragraph.field_news_article.target_id|render|striptags %}
{% else %}
  {% set drupal_field_paragraph_id = ''%}
{% endif %}

{# used on "Magazine Homepage" node, "Magazine Issue" taxonomy #}
{# Only show "Alumni Card" if it's not empty #}
{% if content.field_link|render|striptags != ''
  or drupal_field_paragraph_id|render|striptags != ''
  or content.field_news_article.0['#node'].id != ''
%}

  {# Link url variable - Stat #}
  {% if content.field_link|render|striptags != '' %}
    {# Feature Paragraph > Overwrite Link #}
    {% set link = paragraph.field_link.value.0.uri %}
    {% set link_class = "icon-link--external" %}
  {% elseif drupal_field('field_external_url', 'node', paragraph.field_news_article.target_id)|render|striptags != '' %}
    {# Feature Paragraph > News Article (News) > External URL #}
    {% set external_link = drupal_field('field_external_url', 'node', paragraph.field_news_article.target_id) %}
    {% set link = external_link.0['#url'].uri %}
    {% set link_class = "icon-link--external" %}
  {% else %}
    {# Feature Paragraph > News Article (News) > ID #}
    {% set link = drupal_url('node/' ~ content.field_news_article.0['#node'].id ) %}
    {% set link_class = "remove-ext-url" %}
  {% endif %}
  {# Link url variable - End #}

  {# "Alumni Card" #}
  <a href="{{ link }}">
    <article class="four-card-row magazine-alumni">
      <div class="card-row__image">
      {% if content.field_image_media|render|striptags != ''%}
        {# Feature Paragraph - Overwrite Image #}
        {{ content.field_image_media }}
      {% else %}
        {# Feature Paragraph > News Article (News) > Card Image #}
        {{ drupal_field('field_card_image', 'node', paragraph.field_news_article.target_id) }}
      {% endif %}
      </div>
      <div class="card-row__copy">
        <header class="news-card magazine-alumni__byline {{ link_class }}">
          {% include '@ucsf_mag/components/byline/magazine-date-byline.twig' %}
          <h3>
          {% if content.field_title|render|striptags != '' %}
              {# Feature Paragraph - Overwrite Title #}
              {{ content.field_title }}
            {% else %}
              {# Feature Paragraph > News Article (News) > Title #}
              {{ paragraph.field_news_article.entity.label }}
            {% endif %}
          </h3>
        </header>
        <div class="card-row__cta-wrapper">
          <div class="card-row__body">
            {{ content.field_text_body }}
          </div>
          {% if content.field_banner_cta_text|render|striptags != '' %}
          <p class="card-row__link link--cta">
            {{ content.field_banner_cta_text }}
          </p>
          {% endif %}
        </div>
      </div>
    </article>
  </a>
{% endif %}
