<ul class="c3-social">
  {% if facebook %}
    <li><a href="{{ facebook }}" {{ (external) ? 'target="_blank"' : '' }}><span class="c3-icon fb-icon"></span></a></li>
  {% endif %}
  {% if twitter %}
    <li><a href="{{ twitter }}" {{ (external) ? 'target="_blank"' : '' }}><span class="c3-icon fb-twitter"></span></a></li>
  {% endif %}
  {% if linkedin %}
    <li><a href="{{ linkedin }}" {{ (external) ? 'target="_blank"' : '' }}><span class="c3-icon fb-linkedin"></span></a></li>
  {% endif %}
  {% if vimeo %}
    <li><a href="{{ facebook }}" {{ (external) ? 'target="_blank"' : '' }}><span class="c3-icon fb-vimeo"></span></a></li>
  {% endif %}
</ul>
