{% set summary_url = summary|length > 140 ? summary|url_encode|slice(0, 140) ~ '...' : summary  %}
<div class="social-icons">
  <div class="social-icons__label">{{ 'SHARE'|t }}</div>
  <ul class="social-icons__list">
    {% if social_url %}
      <li class="social-icons__item">
        <a href="http://www.facebook.com/sharer.php?u={{ social_url }}&amp;t={{ title }}" title="Share on Facebook" rel="nofollow noopener noreferrer" target="_blank">
          <i class="fab fa-facebook-f bt-2x"></i>
        </a>
      </li>
      <li class="social-icons__item">
        <a href="http://twitter.com/share?url={{ social_url }}&amp;text={{ title }}" title="Share this on Twitter" rel="nofollow noopener noreferrer" target="_blank">
          <i class="fab fa-twitter bt-2x"></i>
        </a>
      </li>
      <li class="social-icons__item">
        <a href="https://www.linkedin.com/cws/share?url={{ social_url }}&amp;title={{ title }}&amp;summary={{ summary_url }}&amp;source={{ site_name|url_encode }}" title="Publish this post to LinkedIn" rel="nofollow noopener noreferrer" target="_blank">
          <i class="fab fa-linkedin-in bt-2x"></i>
        </a>
      </li>
    {% endif %}
    {% if mail %}
      <li class="social-icons__item">
        <a href="mailto:?subject={{ title }}&amp;body={{ social_url }}"><i class="fa fa-envelope"></i></a>
      </li>
    {% endif %}
  </ul>
</div>
