{#
/**
 * @file
 * Default theme implementation of a container used to wrap embedded entities.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 *
 * @see template_preprocess_entity_embed_container()
 *
 * @ingroup themeable
 */
#}

{% if media_type == 'image' %}
  <figure{{ attributes }}>{%if url %}<a href='{{ url }}'>{% endif %}<picture>{{ children }}</picture>{%if url %}</a>{% endif %}</figure>
{% else %}
  <article{{ attributes }}>{{ children }}</article>
{% endif %}
