<header class="article-header {{ heading_class }}">
{% if area or date %}
  <ul class="article-header__byline">
  {% if area %}
    <li class="article-header__{{ area }}">{{ area }}</li>
  {% endif %}
  {% if date %}
    <li class="article-header__date">{{ date }}</li>
  {% endif %}
  </ul>
{% endif %}

  <h1>
      {{ heading }}
  </h1>

  {% if subheading %}
  <p class="article-header__subheading">
    {{ subheading }}
  </p>
  {% endif %}

  {% if headerdesc %}
  <p class="article-header__description">
    {{ headerdesc }}
  </p>
  {% endif %}

</header>
