<main role="main" class="main homepage">
  <a id="main-content" tabindex="-1"></a>
  <div class="home-banner-wrapper">
    <div class="home-banner-wrapper__space"> </div>
    <div class="home-banner">
      <div class="home-banner__image">
        {{ content.field_banner_image }}
      </div>
      <header class="home-banner__header">
        <h1>{{ label }}</h1>
        <p class="home-banner__subheading">{{ content.field_banner_description }}</p>
      </header>
      <div class="quicklinks">
        <a class="quicklinks__openlink" href="">Quick Links <span class="fas fa-caret-right"></span></a>
      </div>
    </div>
  </div>

  <div class="home-banner-support-wrapper">
    <div class="home-banner-support">
      <h2 class="home-banner-support__title">{{ node.field_banner_support_title.value }}</h2>
      <ol class="home-banner-support__links">
        {{ content.field_banner_support }}
      </ol>
    </div>
  </div>

  {% include '@theme/homepage/homepage-search.twig' %}

  <div class="home-talking-about">
    <h2 class="home-talking-about__title">{{ "What we're talking about"|t }}</h2>
    <p class="home-talking-about__description">{{ "Our top priorities, proudest moments, and groundbreaking news and achievements."|t }}</p>
    <ul class="card-three-up">
      {{ content.field_featured_content }}
    </ul>
  </div>

  {% include '@theme/homepage/homepage-twitter.twig' %}

  {{ content.field_events }}

  <div class="map-home-wrapper">
    <div class="map-home">

      {{ content.field_map_image }}
      {#<figure class="map-home__image">#}


        {#<picture class="map-home__image__image">#}

          {#<img class="map-home__image__img" src="../../images/home/map-home.jpg" alt="Doctors at Working">#}
        {#</picture>#}

      {#</figure>#}

      {{ content.field_map_text }}


      {#<div class="map-home__content">#}
        {#<h2>Bridging the Bay</h2>#}

        {#<p class="map-home__subheading">With locations throughout San Francisco and beyond, UC San Francisco is an industry of its own, contributing greatly to the intellectual vigor and economic vitality of the City by the Bay.</p>#}

        {#<ul class="map-home__links">#}
          {#<li class="map-home__link"><a href="" class="map-home__locations">View our locations</a></li>#}
          {#<li class="map-home__link"><a href="" class="map-home__transport">Find transportation</a></li>#}
          {#<li class="map-home__link"><a href="" class="map-home__directions">Get directions</a></li>#}
        {#</ul>#}
      {#</div>#}
    </div>
  </div>
</main>
