{{ content.field_breadcrumbs }}

<main role="main" class="main" {{ attributes.addClass(classes) }}>
  <a id="main-content" tabindex="-1"></a>
  <div class="article-medium-banner">
    {{ content.field_banner_image }}
  </div>
  <div class="main-content narrow-page">
    <header class="narrow-page-header narrow-page-header-banner">
      <h1>{{ label }}</h1>
      <div class="narrow-page-header__subheading">{{ content.body }}</div>
    </header>
    {{ content.field_content_panel }}
  </div>
</main>

<div class="narrow-page-full-width-wrapper">
  {{ content.field_footer_tabs_events_columne }}
</div>

<div class="footer-ctas-wrapper">
  {{ content.field_ankle_cta }}
</div>