{{ content.field_breadcrumbs }}

{% if node.field_banner_image is not empty %}
  {% set banner_image = "full-width-has-image" %}
{% endif %}

{% set body_classes = not node.isPublished() ? "node--unpublished" %}

<header class="basic-header full-width-page-banner {{ banner_image }} {{ body_classes}}">
  {{ content.field_banner_image }}
  <div class="full-width-page-banner__header">
    <h1 class="full-width-page__header-title">{{ label }}</h1>
    {{ content.field_banner_description }}
  </div>
</header>

<div class="full-width-page-wrapper">
  <main class="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="main-content full-width-page">
      {{ content.field_content_panel }}
    </div>
  </main>
  <div class="footer-ctas-wrapper" role="complementary">
    {{ content.field_ankle_cta }}
  </div>
</div>
