{{ content.field_breadcrumbs }}

<header class="basic-header full-width-page-banner">
  {{ content.field_banner_image }}
  <div class="full-width-page-banner__header">
    <h1 class="full-width-page__header-title">{{ label }}</h1>
    {{ content.field_banner_description }}
  </div>
</header>

<div class="full-width-page-wrapper">
  <main role="main" class="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="main-content full-width-page">
      {{ content.field_content_panel }}
    </div>
  </main>
  <div class="footer-ctas-wrapper">
    {{ content.field_ankle_cta }}
  </div>
</div>
