<div class="quicklinks-menu">
  {{ content.field_quick_link_menu }}
</div>

<main role="main" class="main homepage">
  <a id="main-content" tabindex="-1"></a>

  <div class="home-banner-wrapper">
    <div class="home-banner-wrapper__space"> </div>
    <div class="home-banner">
      <div class="home-banner__image">
        {{ content.field_banner_image }}
      </div>
      <header class="home-banner__header">
        <h1>{{ label }}</h1>
        <p class="home-banner__subheading">{{ content.field_banner_description }}</p>
      </header>
      <div class="quicklinks">
        <a class="quicklinks__openlink">{{ "Quick Links"|t }} <span class="fas fa-caret-up"></span><span class="fas fa-caret-right"></span></a>
      </div>
    </div>
  </div>

  <div class="home-banner-support-wrapper">
    <div class="home-banner-support">
      <h2 class="home-banner-support__title">{{ node.field_banner_support_title.value }}</h2>
      <ol class="home-banner-support__links">
        {{ content.field_banner_support }}
      </ol>
    </div>
  </div>

  {% include '@theme/homepage/homepage-search.twig' %}

  <div class="home-talking-about">
    <h2 class="home-talking-about__title">{{ "What we're talking about"|t }}</h2>
    <p class="home-talking-about__description">{{ "Our top priorities, proudest moments, and groundbreaking news and achievements."|t }}</p>
    <ul class="card-three-up">
      {{ content.field_featured_content }}
    </ul>
  </div>

  {% include '@theme/homepage/homepage-twitter.twig' %}

  {{ content.field_events }}

  <div class="map-home-wrapper">
    <div class="map-home">
      {{ content.field_map_image }}
      {{ content.field_map_text }}
    </div>
  </div>

</main>
