{% set layout = node.field_banner_layout.value %}

{% if layout == 'feature' %}
  {% include '@theme/banner/banner-feature.twig' %}
{% else %}
  {% include '@theme/banner/banner.twig' %}
{% endif %}

  {{ content.body }}
  {{ content.field_content_panel }}

  <div class="tags-menu-region">
    {% if content.field_topics|render or content.field_tags|render %}
    <h3 class="tags-menu__title">{{ "Tags"|t }}</h3>
    {{ content.field_topics }} {{ content.field_tags }}
    {% endif %}
  </div>
</div>
