{% set banner_style = node.field_banner_box_alignment.entity.label|clean_class %}

{% if banner_style == 'right-bottom-align-text-box' %}
  {% set layout = 'home-banner-two' %}
{% elseif banner_style == 'left-bottom-align-text-box' %}
  {% set layout = 'home-banner-three' %}
{% endif %}

<div class="quicklinks">
  <div class="quicklinks-trigger">
    <a class="quicklinks__openlink">{{ "Quick Links"|t }} <span class="fas fa-caret-up"></span><span class="fas fa-caret-right"></span></a>
  </div>
  <div class="quicklinks-menu">
    <div class="quicklinks-close"><i class="fas fa-times"></i></div>
    {{ content.field_quick_link_menu }}
    {{ attach_library('ucsf/quicklinks') }}
  </div>
</div>

<main role="main" class="main homepage {{ layout }}">
  <a id="main-content" tabindex="-1"></a>

  <div class="home-banner-wrapper">
    <div class="home-banner-wrapper__space"> </div>
    <div class="home-banner">
      {{ content.field_banner_image }}
      <header class="home-banner__header">
        <h1>{{ label }}</h1>
        {{ content.field_banner_description }}
      </header>
    </div>
  </div>

  <div class="home-banner-support-wrapper">
    <div class="home-banner-support">
      <h2 class="home-banner-support__title">{{ node.field_banner_support_title.value }}</h2>
      <ol class="home-banner-support__links">
        {{ content.field_banner_support }}
      </ol>
    </div>
  </div>

  {% include '@theme/search/search-homepage.twig' %}

  <div class="home-talking-about">
    <h2 class="home-talking-about__title">{{ "What we're talking about"|t }}</h2>
    <p class="home-talking-about__description">{{ "Our top priorities, proudest moments, and groundbreaking news and achievements."|t }}</p>
    <ul class="card-three-up">
      {{ content.field_featured_content }}
    </ul>
  </div>


  {% include '@theme/homepage/homepage-twitter.twig' %}
  {{ drupal_view('topic_tag_featured_carousel', 'block_1') }}
  {{ content.field_events }}

  <div class="map-home-wrapper">
    <div class="map-home">
      {{ content.field_map_image }}
      {{ content.field_map_text }}
    </div>
  </div>

</main>
