{{ content.field_breadcrumbs }}

{% set body_classes = not node.isPublished() ? "node--unpublished" %}
{% set title_classes = 'page-header__title' %}
<main class="main {{ body_classes }}" {{ attributes.addClass(classes) }}>
  <a id="main-content" tabindex="-1"></a>

  {% if node.field_banner_image is not empty %}
    {% set banner_image = "narrow-page-header-banner" %}

    <div class="article-medium-banner">
      {{ content.field_banner_image }}
    </div>
  {% endif %}

  {# Small Title checkbox #}
  {% if '1' in content.field_small_title[0] %}
    {% set title_class = 'narrow-page-header__title--small' %}
  {% endif %}

  <div class="main-content narrow-page">
    <header class="narrow-page-header {{ banner_image }}">
      <h1 class='narrow-page-header__title {{title_class}}'>{{ label }}</h1>
    </header>
    <div class="narrow-page-body">{{ content.body }}</div>
    {{ content.field_content_panel }}
  </div>
</main>

{% if content.field_footer_tabs_events_columne|render|striptags != ''  %}
<div class="narrow-page-full-width-wrapper" role="complementary">
  {{ content.field_footer_tabs_events_columne }}
</div>
{% endif %}

{% if content.field_ankle_cta|render|striptags != ''  %}
<div class="footer-ctas-wrapper" role="complementary">
  {{ content.field_ankle_cta }}
</div>
{% endif %}
