{% set classes = ['main', not node.isPublished() ? 'node--unpublished'] %}
{% set uri_value = node.field_textured_background_image.entity.field_media_image.entity.uri.value %}
{% block content %}
<main {{ attributes.addClass(classes)|without('role') }}>
  <a id="main-content" tabindex="-1"></a>
  <div class="news-package-banner">
    <div class="news-package-banner-bk"></div>
    <div class="news-package-banner-image-bk"
      {% if uri_value %}
        style="background: url('{{ file_url(uri_value) }}') no-repeat left bottom transparent;"
      {% endif %}
    >
    </div>
    <div class="news-package-banner-image">
      {{ content.field_banner_image }}
    </div>
    <header class="basic-header news-package-header">
      <ul class="article-header__byline">
        <li class="article-header__date">{{ content.field_date_and_time }}</li>
      </ul>
      <h1>{{ label }}</h1>
      <div class="article-header__description">
        {{ content.body }}
      </div>
    </header>

    <div class="news-package-banner-bk-bottom"></div>
  </div>
  <div class="main-content article-feature-content narrow-page">
    {% include "@theme/share/share.twig" %}
    <div class="page_narrow">
      <ol class="news-row-card">
        {{ content.field_featured.0 }}
      </ol>
    </div>
  </div>
</main>
{% endblock content %}

<div class="footer-ctas-wrapper" role="complementary">
  {{ content.field_ankle_cta }}
</div>
