{% set layout = node.field_banner_layout.value %}

{% if layout == 'feature' %}
  {% include '@theme/banner/banner-feature.twig' %}
{% else %}
  {% include '@theme/banner/banner.twig' %}
{% endif %}

  {{ content.body }}
  {{ content.field_content_panel }}

  <div class="tags-menu-region">
    {% if content.field_topics|render or content.field_tags|render %}
    <h3 class="tags-menu__title">{{ "Topics"|t }}</h3>
    <ul class="tags-menu">
      {{ content.field_topics }} {{ content.field_tags }}
    </ul>
    {% endif %}
  </div>
</div>
{# @todo Wrapper should probably be conditional. #}
<div class="recommended-articles{{ content.field_recommended_article|render ? ' has-recommended-article' }} ">
  <div class="recommended-articles__banner">
    <h2 class="recommended-articles__title">{{ "Recommended Reading"|t }}</h2>
    {{ content.field_recommended_article }}
  </div>
  {{ drupal_view('articles_by_term', 'block_1') }}
  <div class="footer-ctas-wrapper">
    {{ content.field_ankle_cta }}
  </div>
</div>
