{{ content.field_breadcrumbs }}

{% if node.field_banner_image is not empty %}
  {% set banner_image = "full-width-has-image" %}
{% endif %}

{% set body_classes = not node.isPublished() ? "node--unpublished" %}

<header class="basic-header magazine-homepage-banner {{ banner_image }} {{ body_classes}}">
  <div class="magazine-homepage-banner__header">
    <h1 class="magazine-homepage-banner__title">{{ label }}</h1>

    {% if content.field_issue_title|render|striptags != ''  %}
      <div class="magazine-issue-banner">
      {{ content.field_issue_cover }}

        <div class="magazine-issue-banner__content">
          <h2 class="magazine-issue-banner__title">{{ content.field_issue_title }}</h2>
          {{ content.field_issue_description }}

          <h3 class="magazine-issue-banner__about-title">About this Issue:</h3>
          <p class="magazine-issue-banner__about-desc">
          {{ content.field_volume_issue }}

          {% if node.field_editorial_team is not empty %}
          <br />
          {{ content.field_editorial_team }}
          {% endif %}

          </p>
          {% if node.field_issue_download_pdf is not empty %}
          <p class="magazine-issue-banner__download">{{ content.field_issue_download_pdf }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</header>

<div class="full-width-page-wrapper">
  <main class="main">
    <a id="main-content" tabindex="-1"></a>


    <div class="main-content full-width-page">
      {{ content.field_feature_article }}

      <div class="magazine-feature-support layout-columns__3 bg-white">
      {{ content.field_supporting_mag_articlesl }}
      </div>

      {{ content.field_content_panel }}

      <div class="magazine-hub-inside">
        <div class="magazine-hub-inside__hub">
          <div class="magazine-hub-inside__header">
            <h2 class="magazine-hub-inside__title">Alumni Hub</h2>
            <p class="magazine-hub-inside__inside-more">
              <a href="https://alumni.ucsf.edu/stories" class="link--cta">Read more</a>
            </p>
          </div>
          {{ content.field_alumni_hub }}
        </div>
        <div class="magazine-hub-inside__inside">
          <div class="magazine-hub-inside__header">
            <h2 class="magazine-hub-inside__title">Inside UCSF</h2>
            <p class="magazine-hub-inside__inside-more">
              <a href="/news" class="link--cta">Visit UCSF News Center</a>
            </p>
          </div>
          {{ content.field_inside_ucsf }}
        </div>
      </div>
    </div>
  </main>
  <div class="footer-ctas-wrapper">
    {{ content.field_ankle_cta }}
  </div>
</div>
