{% set banner_style = node.field_banner_box_alignment.entity.label|clean_class %}
{% set expanded = 'false' %}
{% if banner_style == 'right-bottom-align-text-box' %}
  {% set layout = 'home-banner-two' %}
{% elseif banner_style == 'left-bottom-align-text-box' %}
  {% set layout = 'home-banner-three' %}
{% endif %}

<nav class="quicklinks" aria-labelledby="quicklinks-main-title">
  <button class="quicklinks-trigger" aria-expanded="{{expanded}}" aria-controls="slide-quicklinks" aria-labeledby="quicklinks-main-title">
    {# added inline style to fix chrome bug https://stackoverflow.com/questions/43278142/chrome-does-not-support-writing-mode-for-button-tag #}
    <p class="quicklinks__main-title" id="quicklinks-main-title" style="writing-mode:vertical-lr;">{{ "Quick Links"|t }}<span class="fas fa-caret-right"></span></p>

  </button>
  <div class="quicklinks-menu" id="slide-quicklinks">
    {{ content.field_quick_link_menu }}
    <button class="quicklinks-close" aria-controls="slide-quicklinks" aria-expanded="{{expanded}}"><span class="fas fa-times"></span><span class="visually-hidden">{{ "Close Quick Links"|t }}</span></button>
    {{ attach_library('ucsf/quicklinks') }}
  </div>
</nav>

<main class="main homepage {{ layout }}">
  <a id="main-content" tabindex="-1"></a>

  <div class="home-banner-wrapper">
    <div class="home-banner-wrapper__space"> </div>
    <div class="home-banner">
      {{ content.field_banner_image }}
      <header class="home-banner__header">
        <h1>{{ content.field_banner_title }}</h1>
        {{ content.field_banner_description }}
      </header>
    </div>
  </div>

  <div class="home-banner-support-wrapper">
    <div class="home-banner-support">
      <h2 class="home-banner-support__title">{{ node.field_banner_support_title.value }}</h2>
      <ol class="home-banner-support__links">
        {{ content.field_banner_support }}
      </ol>
    </div>
  </div>

  {% include '@theme/search/search-homepage.twig' %}

  <div class="home-talking-about">
    <h2 class="home-talking-about__title">{{ "What We're Talking About"|t }}</h2>
    <p class="home-talking-about__description">{{ "Browse our top stories, interesting events, and other highlights."|t }}</p>
    <ul class="card-three-up">
      {{ content.field_featured_content }}
    </ul>
  </div>


  {% include '@theme/homepage/homepage-twitter.twig' %}
  {{ drupal_view('topic_tag_featured_carousel', 'block_1') }}
  {{ content.field_events }}

  <div class="map-home-wrapper">
    <div class="map-home">
      {{ content.field_map_image }}
      {{ content.field_map_text }}
    </div>
  </div>

</main>
