<main role="main" class="main news-center">
  <a id="main-content" tabindex="-1"></a>
  <h1>{{ label }}</h1>

  <div class="news-center-banner">
    <div class="news-center-banner__featured">
      {{ content.field_feature_article }}
    </div>

    <div class="news-center-banner_list">
      <ul class="card-four-up">
        {{ content.field_support_articles }}
      </ul>
    </div>
  </div>

  {% include '@theme/search/search-news-center.twig' %}

  <div class="media-coverage">
    <div class="media-coverage__list">
      <h2 class="media-coverage__list-title">{{ "UCSF in the News"|t }}</h2>
        {{ content.field_supporting_media_articles }}
      <p class="media-coverage__list-more"><a href="" class="link link--cta">{{ "View more"|t }}</a></p>
    </div>

    <div class="media-coverage__featured">
      {{ content.field_featured_media_article }}
    </div>
  </div>
  <div class="news-list">
    <h2 class="news-list__title">{{ "The Latest"|t }}</h2>
    {{ drupal_view('articles_for_news_center', 'block_1') }}
  </div>
  {% include '@theme/misc/video.twig' %}
  {% include '@theme/homepage/homepage-twitter.twig' %}
</main>

{% include '@theme/misc/footer-ctas.twig' %}
