{% set classes = ['main'] %}

<nav role="navigation" aria-labelledby="system-breadcrumb" class="breadcrumb-region">
  {{ content.field_breadcrumbs }}
</nav>

<main role="main" {{ attributes.addClass(classes) }}>
  <a id="main-content" tabindex="-1"></a>
  <div class="main-content narrow-page">
    <header class="article-header">
      <h1>{{ label }}</h1>
    </header>

    {% include "@theme/share/share.twig" %}
    <div class="page_narrow">
      <ol class="news-row-card news-trending">
        {{ content.field_trending }}
      </ol>
    </div>
  </div>
</main>
<div class="footer-ctas-wrapper">
  {{ content.field_ankle_cta }}
</div>
