{% set classes = ['news-card, campus-news-card'] %}

{% set primary_area = node.field_primary_area.0.entity.label|clean_class %}

<article {{ attributes.addClass(classes) }} data-primary-area="{{ primary_area ? 'pa-' ~ primary_area}}">
  <a href="{{ url }}" class="news-card__link">
    <header>
      {% include '@theme/article/campus-news-byline.twig' %}
      {% if content.field_short_title|render|striptags != ''  %}
        <h3 class="campus-news-card__title">{{ content.field_short_title }}</h3>
      {% else %}
        <h3 class="campus-news-card__title">{{ label }}</h3>
      {% endif %}
    </header>
  </a>
</article>
