{% set classes = ['main'] %}

{% block content %}
<main role="main" {{ attributes.addClass(classes) }}>
  <a id="main-content" tabindex="-1"></a>
  <div class="news-package-banner">
    <div class="news-package-banner-bk"></div>
    <div class="news-package-banner-image-bk"
         style="background: url('{{ file_url(node.field_textured_background_image.entity.field_media_image.entity.uri.value) }}') no-repeat left bottom transparent;"></div>

         <div class="news-package-banner-image">
           {{ content.field_banner_image }}
         </div>
    <header class="basic-header news-package-header">
      <ul class="article-header__byline">
        <li class="article-header__date">{{ content.field_date_and_time }}</li>
      </ul>
      <h1>{{ label }}</h1>
      <div class="article-header__description">
        {{ content.body }}
      </div>
    </header>

    <div class="news-package-banner-bk-bottom"></div>
  </div>
  <div class="main-content article-feature-content narrow-page">
    {% include "@theme/share/share.twig" %}
    <div class="page_narrow">
      <ol class="news-row-card">
        {{ content.field_featured }}
      </ol>
    </div>
  </div>
</main>
{% endblock content %}

<div class="footer-ctas-wrapper">
  {{ content.field_ankle_cta }}
</div>
