<main role="main" class="main news-center">
  <a id="main-content" tabindex="-1"></a>
  <h1>{{ label }}</h1>

  <div class="news-center-banner">
    <div class="news-center-banner__featured">
      {{ content.field_feature_article }}
    </div>

    <div class="news-center-banner_list">
      <ul class="card-four-up">
        {{ content.field_support_articles }}
      </ul>
    </div>
  </div>

  {% include '@theme/homepage/homepage-search.twig' %}

  <div class="media-coverage">
    <div class="media-coverage__list">
      <h2 class="media-coverage__list-title">UCSF in the News</h2>
        {{ content.field_supporting_media_articles }}
      <p class="media-coverage__list-more"><a href="" class="link link--cta">View more</a></p>
    </div>

    <div class="media-coverage__featured">
      {{ content.field_featured_media_article }}
    </div>
  </div>

  {% include '@theme/misc/video.twig' %}
  {% include '@theme/homepage/homepage-twitter.twig' %}
</main>

{% include '@theme/misc/footer-ctas.twig' %}
