<div class="social-icons">
  <ul class="social-icons__list">

    {% if facebook %}
      <li class="social-icons__item">
        <a href="{{ facebook }}" target="_blank">
          <i class="fab fa-facebook-f bt-2x"></i>
        </a>
      </li>
    {% endif %}

    {% if twitter %}
      <li class="social-icons__item">
        <a href="{{ twitter }}" target="_blank">
          <i class="fab fa-twitter bt-2x"></i>
        </a>
      </li>
    {% endif %}

    {% if linkedin %}
      <li class="social-icons__item">
        <a href="{{ linkedin }}" target="_blank">
          <i class="fab fa-linkedin-in bt-2x"></i>
        </a>
      </li>
    {% endif %}

    {% if mail %}
      <li class="social-icons__item">
        <a href="mailto:{{ mail }}?subject={{ mail_subject }}" target="_blank"><i class="fa fa-envelope"></i></a>
      </li>
    {% endif %}

  </ul>
</div>
